<mat-drawer-container>
  <mat-drawer class="side-menu" mode="side" opened>
      <div class="side-menu__logo">
        <span>Biricutico</span>
      </div>
      <div class="side-menu__content">
        <mat-toolbar class="side-menu__content__items">
          <ng-container *ngFor="let menuItem of menuItems">
            <mat-toolbar-row [class]="menuItem.class" class="side-menu__content__items__item" (click)="setSelectedMenuItem(menuItem)">
              <div class="side-menu__content__items__item__content">
                <mat-icon class="side-menu__content__items__item__content__icon">{{menuItem.icon}}</mat-icon>
                <p class="side-menu__content__items__item__content__label">{{menuItem.label}}</p>
              </div>
            </mat-toolbar-row>
          </ng-container>
        </mat-toolbar>
      </div>
  </mat-drawer>
  <mat-drawer-content class="content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>




