.drinks-grid {

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.33%;
    row-gap: 4vh;
    justify-content: space-between;

    &__card {
      width: 30%;
    }
  }
}
